body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #154005;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 5px;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.actions>* {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}

.publish h3 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}

.features {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    height: 660px;
    background-color: #025157;
    padding: 5% 10%;
}

.features .feature-card {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }

  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .features .feature-card .feature-content img {
    width: 50px;
  }

  .features .feature-card .feature-content h3 {
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #686666;
    font-weight: 400;
  }

  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }

  .features .feature-card .feature-content a {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }

  .features .feature-card .feature-image {
    flex: 1;
    width: 30%;
    position: relative;
    right: -40px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
.features .feature-card .feature-image img {
  margin-top: 0;
  height: 100%;
}