body {
    background-color: #fffbf7;
}

h1 {
    color: #46484c;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
}

button {
    color: white;
    background-color: #154005;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 5px;
}

.header {
    margin: 40px 20px 0;
    font-size: 0;
    height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.header>* {
    display: inline-block;
    font-size: 16px;
    line-height: 45px;
    height: 100%;
    vertical-align: middle;
}

.logo {
    width: 15%;
}

.logo>img {
    width: 15%;
}

.navbar {
    width: 70%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}

.actions {
    width: 15%;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
}

.main {
    margin-top: 285px;
    text-align: center;
}

.actions>* {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a {
    color: #67b54b;
}

.actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

.publish {
    /* container styles if any */
    margin-left: 30px;
}

.publish h3 {
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
}

.publish>p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
}

.publish>form {
    display: flex;
}

.publish>form p {
    color: #025157;
    margin-right: 18px;
}

.promo {
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
}

.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-container img {
    width: 120px;
    margin-top: 10px;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
}